{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
    <div class="d-flex justify-content-center mb-3">
        <h1>Sell</h1>
    </div>
    <div class="d-flex justify-content-center">
        <form action="/sell" method="post" style="display: flex; align-items: center;">
            <div class="me-2">
                <div class="dropdown">
                    <select id="stockSelect" class="form-select" aria-label="Select stock" name="stock">
                        <option disabled selected value="">Select</option>
                        {% for stock in stocks %}
                            <option value="{{ stock }}">{{ stock }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <input autocomplete="off" autofocus class="form-control" style="width: 94px; margin-right: 10px;" name="shares" placeholder="Shares" type="number" min="0">
            <button type="submit" class="btn btn-outline-primary">Sell</button>
        </form>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <div class="alert alert-info" role="alert"><strong>Available shares: <span id="sharesDisplay" class="ms-3"></span></strong></div>
    </div>

    <script>
        const stocks = {{ stocks | tojson }};
        document.getElementById('stockSelect').addEventListener('change', function() {
            const selectedStock = this.value;
            const shares = stocks[selectedStock];
            document.getElementById('sharesDisplay').innerText = `${shares}`;
        });
    </script>


    {% if error %}
        <div class="d-flex justify-content-center mt-3">
            <div class="alert alert-danger alert-dismissible fade show" style="width: 370px;" role="alert">
                <strong>{{ error }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
{% endblock %}
